*{
  font-family: 'Roboto';
  margin: 0;
}

/*main*/ 
.msm{
  display: flex;
  align-items: center;
  background-color: rgb(138, 224, 124);
  width: 20vw;
}
.form-group{
  display: flex;
  flex-direction: column;
}

#organiza{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.corpo{
  display: flex;
  background-color: rgb(192, 208, 233);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

a{
  color: rgb(196, 110, 104);
  text-decoration: none;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 15px;
  background-color: #fff; 
}

.secao_cria{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  gap: 15px;
}

/* Estilos para o menu suspenso */
.dropdown {
  margin: 10px 0;
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.custom-dropdown-item {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.custom-dropdown-item:hover {
  color: rgba(185, 21, 21, 0.1);
  /* Cor de fundo quando o item é hover */
}

.btn-secondary {
  background-color: #6c757d;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #495057; /* Cor de fundo quando o botão é hover */
}

.imagem{
  width: 100;
  height: 200px;
  margin-bottom: 40px;
}

.table_body{
  display: flex;
 
  flex-direction: column;
  gap: 10px;
}

/*cadastro*/ 
#cabeca{
  color: rgb(196, 110, 104);
}

#caixa{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
  gap: 10px;
  background-color: rgb(196, 110, 104);
}

#botao{
  color: white;
  background-color: rgb(0, 183, 255);
}

/*dashboard*/ 

.secao_dash{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px; 
}

.article_geral{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  background-color: rgb(196, 110, 104);
  flex-direction: row;
}

/*medico*/ 

#bota{
  display: flex;
  flex-direction: row;
  background-color: rgb(196, 110, 104);
  gap: 10px;
  justify-content: center;
}
#caixa2{
  display: flex;
  justify-content: left;
  padding: 60px 60px;
  gap: 20px;
  background-color: rgb(196, 110, 104);
}
#caixa3{
  display: flex;
  justify-content: center;
  gap: 20px;
}
#caixa4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


@media screen and (max-width: 768px) {
  header{
    flex-direction: column;
    gap: 1px;
  }
  .secao_dash{
    margin-top: 20px; 
  }
  .secao_cria {
    gap: 10px;
    margin-top: 20px;
  }

  .dropdown {
    margin: 10px 0;
    text-align: center;
  }

  .dropdown-menu {
    text-align: left;
  }

  .article_geral {
    flex-direction: column;
  }
  #caixa2{
    padding: 10px;
    gap: 15px;
    width: 100vw;
  }
  #caixa4 {
    padding: 10px;  
  }
  #caixa3{
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    gap: 5px;
  }
}
